.button {
	text-align: center;
	border-radius: 2px;
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.5em;
	height: 32px;
	background-color: $buttonColor;
	padding: ($primaryPadding / 4);
	padding-top: 4px;
	padding-left: $primaryPadding;
	padding-right: $primaryPadding;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
}

.button:hover {
	color: #fff;
	background-color: $buttonHoverColor;
}

.button:active {
	box-shadow: inset 0 0 4px 1px rgba(0,0,0,0.2);
}

.button-block {
	width: 100%;
	display: block;
}

.button-dark {
	background-color: $buttonDarkColor;
}

.button-dark:hover {
	background-color: $buttonDarkHoverColor;
}

.button-light {
	background-color: $buttonLightColor;
	color: #333;
}

.button-light:hover {
	background-color: $buttonLightHoverColor;
	color: #333;
}

.button-danger {
	background-color: $buttonDangerColor;
	color: #fff;
}

.button-danger:hover {
	background-color: $buttonDangerHoverColor;
}

.button-small {
	font-size: 10px;
	font-size: 1rem;
	padding: 0;
	padding-left: ($primaryPadding /4);
	padding-right: ($primaryPadding / 4);
}
