/*
 *	*
 *	*	Logical.so Default Variables
 *	*
*/

$primaryFont: 'Open Sans', sans-serif;
$headerFont: 'Open Sans', sans-serif;

$defaultContainerWidth: 960px;
$largeContainerWidth: 1200px;
$tabletContainerWidth: 720px;

$primaryPadding: 16px;
$oneCol: 8.333333333%;

$accent: #00345C;

$link: #259acb;
$linkHover: #2bade4;

$formBorder: #0070B2;

/*
 *  *
 *  * Button related fun
 *  *
*/

$buttonColor: #259acb;
$buttonHoverColor: #2bade4;
$buttonTop: #27a4d8;
$buttonBottom: #137397;

$buttonDarkColor: #2a2e3a;
$buttonDarkHoverColor: #393f4f;
$buttonDarkTop: #333847;
$buttonDarkBottom: #252833;

$buttonLightColor: #eee;
$buttonLightHoverColor: #f6f6f6;
$buttonLightTop: #fefefe;
$buttonLightBottom: #ccc;

$buttonDangerColor: #e04509;
$buttonDangerHoverColor: #f75110;
$buttonDangerTop: #ED490A;
$buttonDangerBottom: #601E04;

$radius: 3px;
