/*
 *	*
 *	*	Logical.so Default Variables
 *	*
*/

$primaryFont: 'Open Sans', sans-serif;
$headerFont: 'Open Sans', sans-serif;

$defaultContainerWidth: 960px;
$largeContainerWidth: 1200px;
$tabletContainerWidth: 720px;

$primaryPadding: 16px;
$oneCol: 8.333333333%;

$accent: #00345C;

$link: #259acb;
$hoverLink: #2bade4;

$formBorder: #0070B2;

$buttonColor: #259acb;
$buttonHoverColor: #2bade4;

$buttonDarkColor: #2a2e3a;
$buttonDarkHoverColor: #393f4f;

$buttonLightColor: #eee;
$buttonLightHoverColor: #f6f6f6;

$buttonDangerColor: #e04509;
$buttonDangerHoverColor: #f75110;

$radius: 3px;
