/*
 *	*
 *	*	Logical.so Default Variables
 *	*
*/

$primaryFont: 'Open Sans', sans-serif;
$headerFont: 'Open Sans', sans-serif;

$defaultContainerWidth: 960px;
$largeContainerWidth: 1200px;
$tabletContainerWidth: 720px;

$primaryPadding: 16px;
$oneCol: 8.333333333%;

$accent: #00345C;

$link: #0070B2;
$hoverLink: #007EC9;

$formBorder: #0070B2;

$buttonColor: #005D94;
$buttonHoverColor: #0065A1;

$buttonDarkColor: #333;
$buttonDarkHoverColor: #444;

$buttonLightColor: #ddd;
$buttonLightHoverColor: #eee;

$buttonDangerColor: #911500;
$buttonDangerHoverColor: #821300;
