/*
 *	*
 *	*	Grid
 *	*
*/

@mixin column($cols) {
	width: ($oneCol * $cols);
	padding-left: $primaryPadding;
	padding-right: $primaryPadding;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@mixin offset($cols) {
	margin-left: ($oneCol * $cols);
}

.row {
	margin-left: -($primaryPadding);
	margin-right: -($primaryPadding);
	.col-1 {@include column(1);}
	.col-2 {@include column(2);}
	.col-3 {@include column(3);}
	.col-4 {@include column(4);}
	.col-5 {@include column(5);}
	.col-6 {@include column(6);}
	.col-7 {@include column(7);}
	.col-8 {@include column(8);}
	.col-9 {@include column(9);}
	.col-10 {@include column(10);}
	.col-11 {@include column(11);}
	.col-12 {@include column(12);}

	.offset-1 {@include offset(1);}
	.offset-2 {@include offset(2);}
	.offset-3 {@include offset(3);}
	.offset-4 {@include offset(4);}
	.offset-5 {@include offset(5);}
	.offset-6 {@include offset(6);}
	.offset-7 {@include offset(7);}
	.offset-8 {@include offset(8);}
	.offset-9 {@include offset(9);}
	.offset-10 {@include offset(10);}
	.offset-11 {@include offset(11);}
	.offset-12 {@include offset(12);}
}
.row:after, .row:before {
	content: " ";
	display: table;
	clear: both;
}

.row.nopadding {
	margin: 0;
	line-height: 0;
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		padding: 0;
	}
}