/*
 *	*
 *	*	Utility Classes
 *	*
 */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/* Notices */
.notice {
	padding: ($primaryPadding / 2);
	p {
		padding: 0;
		margin: 0;
	}
	margin-top: ($primaryPadding / 2);
	margin-bottom: ($primaryPadding / 2);
	.notice-close {
		background: 0;
		border: 0;
		outline: 0;
		display: inline;
		float: right;
		color: #333;
		font-weight: 700;
		font-size: 18px;
		font-size: 1.8rem;
	}
}

.notice-success {
	background-color: #B8D9BA;
	border-left: 4px #3a9216 solid;
}